TEST_CLIENT_ID=your-client-id-here
TEST_TENANT_ID=your-tenant-id-here
TEST_SECRET=your-client-secret-here
TEST_DOMAIN=yourdomain.sharepoint.com
TEST_SITE=your-site-name
TEST_DELAY_SECS=0.01
TEST_NUM_RETRIES=5
